
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />	
		<link rel="stylesheet" type="text/css" href="{% static 'css/flat-ui.css' %}" />	
		<link rel="stylesheet" type="text/css" href="{% static 'css/app_custom.css' %}" />	
		
		<script src="{% static 'js/jquery-ui-1.9.2.custom.js' %}"></script>
		<script src="{% static 'js/jquery.js' %}"></script>

	</head>
	<body>
		<header>
			<div class="container row-fluid">
					<h1 class="logo">Tweets</h1>
			</div>
		</header>

		<div id="content">
			<div class="container span13">		
				<table class="table table-striped table-hover">
					<tr>
						<th width="45%">Tweet</th>
						<th width="15%">Created at</th>
						<th width="15%">Language</th>
						<th width="15%">Sentiment</th>
						<th width="15%">Sentiment Score</th>
					</tr>
					{% for item in item_list.content.statuses	%}
						<tr>
							<td class="tweet"><a href="{% url 'details' item.id %}"> {{ item.text }} </a> </td>
							<td class="tweet_created"> {{ item.created_at	}} </td>
							<td class="language capitalize"></td>
							<td class="sentiment"></td>
							<td class="sentiment_score"></td>
						</tr>
					{% endfor %}
				</table>
				<div>
				<a href="{% url 'list' item_list.content.search_metadata.max_id %}" class="pull-right">More</a>
				</div>
				<br><br>
			</div>
		</div>
		
			<script type="text/javascript">
			  
			  $(window).bind("load", function() {
				
			    $(".language").each(function() {
			      $(this)[0].innerHTML = "Loading..."
			      processApi($(this), $(this), "identifylanguage")
			    });
			    

			    $(".sentiment").each(function() {
			      score_element = $(this).siblings(".sentiment_score") ;
			      score_element[0].innerHTML = "Loading..."
			      $(this)[0].innerHTML = "Loading..."
			      processApi($(this), score_element, "detectsentiment")
					});

			  });

			  processApi = function(element, score_element, api){
			    var text =  element.siblings(".tweet").children("a")[0].innerHTML;

			    var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
			    var regex = new RegExp(expression);
			    var links = text.match(regex)

			    if(links){
			      $.each(links, function(index, value){ text = text.replace(value, "") });
			    }
			    text = text.replace(/#/g, "")

			    var base_url = "https://api.idolondemand.com/1/api/sync/" + api + "/v1"
			    var url = base_url + "?apikey=" + "81996ad0-12b9-43cc-8832-a008f8e64696" + "&text=" + text + "ex"
			     
			    url = encodeURI(url);

			    $.getJSON(url, {}, function(result){
			      if(api === "detectsentiment"){
			        score_element[0].innerHTML = (result.aggregate.score*100).toFixed(2) + "%";
			        displayIcon(element, result.aggregate.sentiment)        
			      }
			      if(api === "identifylanguage"){
			        element[0].innerHTML = result.language;
			      }
			    });
			  };

			  displayIcon = function(element, sentiment){
			    if(sentiment === "positive"){
			      element[0].innerHTML = "<img src='/static/images/positive.png' />"
			    }
			    if(sentiment === "negative"){
			      element[0].innerHTML = "<img src='/static/images/negative.png' />"
			    }
			    if(sentiment === "neutral"){
			      element[0].innerHTML = "<img src='/static/images/neutral.png' />"
			    }
			  }

			</script>

	</body>
</html>
