* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0px auto;
}

.container {
  width: 1040px;
  margin-left: 100px;
}

li, ol, ul {
  list-style: none;
}

ul {
  margin: 0;
}

a {
  color: #4d769f;
}

a.active {
  color: #4c66a4;
}

a:hover {
  color: #4c66a4;
}

.mtop {
  margin-top: 20px;
}

.mbot {
  margin-bottom: 40px;
}

.mleftnone {
  margin-left: 0;
}

.textcenter {
  text-align: center;
}

.row-fluid input[type="text"], .row-fluid input[type="password"] {
  height: auto;
}

.btn.btn-primary {
  background-color: #4c66a4;
  margin-bottom: 10px;
}
.btn.btn-primary:hover {
  background-color: #4c66a4;
}
.btn.btn-primary:active {
  background-color: #16a085;
}

.logo-large {
  padding: 40px 0;
}

.title_strip {
  background-color: #4c66a4;
  padding: 10px 0px;
  color: #fff;
  text-align: center;
}
.title_strip h2 {
  font-size: 32px;
}

.alert {
  font-size: 15px;
  width: 900px;
  margin: 20px auto;
}

#content-header {
  width: 1050px;
  margin: 0 auto;
  font: normal 24px;
  color: #333;
  padding: 10px 0px 0px 0px;
}

#content {
  min-height: 350px;
  padding: 20px 0px;
}

/* header */
header {
  background-color: #ebebeb;
  font-family: 'Source Sans Pro', sans-serif;
}
header h1 {
  font-size: 30px;
  font-weight: normal;
}

.form-horizontal .control-label {
  text-align: left;
}

.form-actions {
  background-color: transparent;
  border: none;
}

.head_strip {
  padding: 10px 0;
}
.head_strip a {
  float: right;
}
.head_strip .dropdown-inverse li > a {
  padding: 0;
}
.head_strip .btn-group {
  float: left;
  border-radius: 9px;
  border: 2px #ccc solid;
}
.head_strip .control-group {
  margin-left: 6px;
  margin-bottom: 0;
  float: left;
  width: 200px;
}

.control-group.focus .input-datepicker input {
  padding: 6px;
}

.control-group.focus .input-datepicker .btn {
  height: 37px;
  line-height: 15px;
}

.btn-transparent {
  background-color: transparent;
  color: #333;
}

.required_star {
  font-size: 24px;
  line-height: 2px;
  color: #d00;
  display: inline-block;
}

.forgot {
  vertical-align: middle;
  padding-top: 10px;
  display: inline-block;
}

.table th {
  padding: 8px;
  font-size: 14px;
}

.table td {
  padding: 8px;
  font-weight: normal;
  font-size: 14px;
}

.tab-content {
  padding: 0;
  border: none;
}

#tweet-details h6 {
  font-size: 22px;
}
#tweet-details #content-header {
  border-bottom: 2px #eaeaea solid;
}
#tweet-details .tweet-content {
  margin-left: 15px;
}
#tweet-details .tweet-content .table {
  width: 400px;
}
#tweet-details ul li {
  margin-top: 5px;
  padding: 10px;
  color: #333;
  font-size: 18px;
}
#tweet-details ul li span {
  margin-top: 2px;
  font-size: 18px;
  color: #7f8c9a;
}
#tweet-details ul li .positive {
  background: yellow;
  color: black;
}
#tweet-details ul li .negative {
  background: red;
  color: black;
}

.ui-daterangepickercontain {
  border: 2px #4c66a4 solid;
  border-radius: 6px;
}
.ui-daterangepickercontain li.ui-state-hover a {
  color: #4c66a4;
}

.capitalize {
  text-transform: capitalize;
}
